<div style="margin-top:100px;"><h1 style="text-align: center;">About Us</h1></div>
<div class="container">
<h5 style="font-weight:100;">
  Henry Motor Company is an American multinational automaker that has its main headquarter in Dearborn, 
  Michigan, a suburb of Detroit. It was founded by Henry Ford and incorporated on June 16, 1903. 
  The company sells automobiles and commercial vehicles under the Ford brand and most luxury cars under
   the Lincoln brand.
</h5>
<h5 style="font-weight:100;">
  Henry Motor Company is an American multinational automaker that has its main headquarter in Dearborn, 
  Michigan, a suburb of Detroit. It was founded by Henry Ford and incorporated on June 16, 1903. 
  The company sells automobiles and commercial vehicles under the Ford brand and most luxury cars under
   the Lincoln brand.
</h5>
<h5 style="font-weight:100;">
  Henry Motor Company is an American multinational automaker that has its main headquarter in Dearborn, 
  Michigan, a suburb of Detroit. It was founded by Henry Ford and incorporated on June 16, 1903. 
  The company sells automobiles and commercial vehicles under the Ford brand and most luxury cars under
   the Lincoln brand.
</h5>
<h5 style="font-weight:100;">
  Henry Motor Company is an American multinational automaker that has its main headquarter in Dearborn, 
  Michigan, a suburb of Detroit. It was founded by Henry Ford and incorporated on June 16, 1903. 
  The company sells automobiles and commercial vehicles under the Ford brand and most luxury cars under
   the Lincoln brand.
</h5>
</div>