.btn_add{
float: right;
border-radius: 10%;
border: none;
background-color: brown;
color: white;
margin-right: 10px;
}
.btn-edit{
    height: 30px;
    border: none;
    background-color: transparent;  
    color: red;
}
